.mv-details {
    display: flex;
    margin: 0 auto;
    padding: $page-padding;

    // 大标题
    .title {
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0;
    }

    // 左栏
    .left {
        flex: 1;
    }

    // 视频
    .player {
        margin-bottom: 16px;
        overflow: hidden;
        border-radius: 4px;

        .video {
            width: 100%;
        }
    }

    // 作者信息
    .avatar-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 32px;

        .avatar {
            @include img-wrap(60px);
            margin-right: 8px;

            img {
                @include round(60px);
            }
        }

        .author {
            font-size: $font-size-lg;
        }
    }

    // 视频信息
    .video-info {
        margin-top: 20px;

        &__name {
            margin-bottom: 16px;
            font-size: $font-size-title-lg;
            font-weight: $font-weight-bold;
            @include ellipsis-more(2);
        }

        &__desc {
            display: flex;
            color: var(--font-color-grey-shallow);
            font-size: $font-size-sm;

            span {
                margin-right: 20px;
            }
        }
    }

    // 右栏
    .right {
        padding-left: 32px;
        width: 36%;
    }

    // 相似mv
    .simi-mv {
        margin-bottom: 15px;
    }
}